In [1]:
import os
import pandas as pd
import xgboost
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
# Set directory path to current directory
dir_path = os.path.abspath('widsdatathon2023')
dat = os.path.join(dir_path, 'train_data.csv')

In [3]:
df = pd.read_csv(dat, index_col=0)
df = pd.DataFrame(df)

In [ ]:
#print(df['startdate'])
i = df.columns

In [ ]:
import matplotlib.pyplot as plt

plt.matshow(df.corr())
plt.show()

In [ ]:
c = df.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort")

print(so[-266:-256])

In [4]:
# df['startdate'][0]

df['startdate'] = pd.to_datetime(df['startdate'])

In [ ]:
df

In [5]:
train = df.loc[df['startdate'] < "2016-08-14"]
test = df.loc[df['startdate'] >= "2016-08-14"]

In [6]:
train

,lat,lon,startdate,contest-pevpr-sfc-gauss-14d__pevpr,nmme0-tmp2m-34w__cancm30,nmme0-tmp2m-34w__cancm40,nmme0-tmp2m-34w__ccsm30,nmme0-tmp2m-34w__ccsm40,nmme0-tmp2m-34w__cfsv20,nmme0-tmp2m-34w__gfdlflora0,...,wind-vwnd-925-2010-11,wind-vwnd-925-2010-12,wind-vwnd-925-2010-13,wind-vwnd-925-2010-14,wind-vwnd-925-2010-15,wind-vwnd-925-2010-16,wind-vwnd-925-2010-17,wind-vwnd-925-2010-18,wind-vwnd-925-2010-19,wind-vwnd-925-2010-20
index,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.833333,2014-09-01,237.00,29.02,31.64,29.57,30.73,29.71,31.52,...,-27.68,-37.21,8.32,9.56,-2.03,48.13,28.09,-13.50,11.90,4.58
1,0.0,0.833333,2014-09-02,228.90,29.02,31.64,29.57,30.73,29.71,31.52,...,-21.13,-36.57,8.77,21.17,4.44,48.60,27.41,-23.77,15.44,3.42
2,0.0,0.833333,2014-09-03,220.69,29.02,31.64,29.57,30.73,29.71,31.52,...,-10.72,-34.16,6.99,32.16,5.01,48.53,19.21,-33.16,15.11,4.82
3,0.0,0.833333,2014-09-04,225.28,29.02,31.64,29.57,30.73,29.71,31.52,...,0.33,-31.04,6.17,39.66,-1.41,50.59,8.29,-37.22,18.24,9.74
4,0.0,0.833333,2014-09-05,237.24,29.02,31.64,29.57,30.73,29.71,31.52,...,9.83,-31.80,7.47,38.62,-5.21,54.73,-2.58,-42.30,21.91,10.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375711,1.0,0.866667,2016-08-09,267.95,24.85,29.11,20.56,26.11,19.83,24.86,...,16.78,38.80,-5.00,45.49,-59.32,-30.46,16.87,75.82,-16.59,-25.55
375712,1.0,0.866667,2016-08-10,263.76,24.85,29.11,20.56,26.11,19.83,24.86,...,3.23,42.16,-6.03,33.65,-56.23,-34.12,19.45,74.22,-14.56,-24.92
375713,1.0,0.866667,2016-08-11,277.68,24.85,29.11,20.56,26.11,19.83,24.86,...,-1.59,37.89,-7.48,28.78,-51.53,-34.70,28.94,68.25,-9.65,-19.07
375714,1.0,0.866667,2016-08-12,281.80,24.85,29.11,20.56,26.11,19.83,24.86,...,-0.25,32.89,-10.12,31.97,-48.80,-36.00,35.89,57.95,-4.62,-17.48
375715,1.0,0.866667,2016-08-13,292.04,24.85,29.11,20.56,26.11,19.83,24.86,...,-1.92,36.14,-12.30,33.97,-44.80,-35.99,37.95,48.60,-3.31,-17.44

In [7]:
len(test)

9252

In [7]:
X_train = train.loc[:, train.columns != 'contest-tmp2m-14d__tmp2m']
y_train = train.loc[:, train.columns == 'contest-tmp2m-14d__tmp2m']

In [9]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [10]:
X_test = test.loc[:, test.columns != 'contest-tmp2m-14d__tmp2m']
y_test = test.loc[:, test.columns == 'contest-tmp2m-14d__tmp2m']

In [11]:
X_train = X_train.loc[:, X_train.columns != 'startdate']
X_test = X_test.loc[:, X_test.columns != 'startdate']
X_train = X_train.loc[:, X_train.columns != 'climateregions__climateregion']
X_test = X_test.loc[:, X_test.columns != 'climateregions__climateregion']

In [12]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [ ]:
g = X_train.columns.to_series().groupby(X_train.dtypes).groups
g

In [13]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [14]:
model = xgboost.XGBRegressor(max_depth=3, early_stopping_rounds=5)

In [15]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [16]:
model.fit(X_train, y_train, eval_set = [(X_test, y_test)])

[0]	validation_0-rmse:13.94440
[1]	validation_0-rmse:9.45488
[2]	validation_0-rmse:6.38879
[3]	validation_0-rmse:4.28154
[4]	validation_0-rmse:2.93984
[5]	validation_0-rmse:2.20170
[6]	validation_0-rmse:1.95299
[7]	validation_0-rmse:1.88342
[8]	validation_0-rmse:1.90086
[9]	validation_0-rmse:1.95634
[10]	validation_0-rmse:1.95149
[11]	validation_0-rmse:2.01007
[12]	validation_0-rmse:1.99569

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=5,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=3, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [17]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [18]:
y_train_pred = model.predict(X_train)
y_train_pred

array([27.298939, 27.298939, 27.298939, ..., 19.64619 , 19.64619 ,
       19.64619 ], dtype=float32)

In [19]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [20]:
mean_squared_error(y_train_pred, y_train)

5.600613893211217

In [21]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [20]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
...                          ...
375711                       NaN
375712                       NaN
375713                       NaN
375714                       NaN
375715                       NaN

[366482 rows x 1 columns]

In [22]:
y_train.mean()

contest-tmp2m-14d__tmp2m    11.641646
dtype: float64

In [23]:
y_train

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [24]:
y_train_naive = y_train

In [26]:
y_train_naive

        contest-tmp2m-14d__tmp2m
index
0                      28.744480
1                      28.370585
2                      28.133059
3                      28.256798
4                      28.372353
...                          ...
375711                 19.049699
375712                 19.272980
375713                 19.138860
375714                 18.728123
375715                 18.572788

[366482 rows x 1 columns]

In [28]:
y_train_naive = y_train.mean()

/var/folders/x6/1ysz38k54wqbd2gzszx8tll00000gn/T/ipykernel_24546/1244749125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_train_naive.loc[y_train_naive['contest-tmp2m-14d__tmp2m'] < 1000, 'contest-tmp2m-14d__tmp2m'] = y_train.mean()

In [29]:
y_train_naive

        contest-tmp2m-14d__tmp2m
index
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
...                          ...
375711                       NaN
375712                       NaN
375713                       NaN
375714                       NaN
375715                       NaN

[366482 rows x 1 columns]

In [ ]:
mean_squared_error(y_train_naive, y_train)

In [17]:
y_train_naive

        contest-tmp2m-14d__tmp2m
index
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
...                          ...
375711                       NaN
375712                       NaN
375713                       NaN
375714                       NaN
375715                       NaN

[366482 rows x 1 columns]